.activeLinks a.active {
  background: var(--color-main);
  border-radius: 2px;
  color: #fff;
  transition: all 0.4s linear;
}

.activeLinks a {
  padding: 4px 10px;
  font-size: 17px;
}

nav li > a{
  transition: color .4s;
}

nav li > a:hover {
  color: var(--color-main);
}
