.activeLink > a.active::after {
  content: "";
  background: url(../../assets/images/shape-3.png) center/cover;
  position: absolute;
  bottom: -8px;
  height: 4px;
  width: 100%;
  left: 0;
}

.activeLink >  a.active {
  color: var(--color-main);
}
