@import "tailwindcss";
@theme {
  --color-main: #309255;
  --color-lightGreen: #eefbf3;
  --color-gray: #d0d0d0;
  --color-dark: #1d2733;

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 80rem;
  --breakpoint-3xl: 80rem;
}

body {
  font-family: "Montserrat Variable";
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}
